[submodule "lib/cmb-field-select2"]
	path = lib/cmb-field-select2
	url = https://github.com/mustardBees/cmb-field-select2.git
[submodule "lib/CMB2"]
	path = lib/CMB2
	url = https://github.com/WebDevStudios/CMB2.git 
[submodule "lib/updater"]
	path = lib/updater
	url = https://github.com/radishconcepts/WordPress-GitHub-Plugin-Updater.git
