#fb_events_container {
width: 100%;
float: left;
clear: both;
height: auto;
display: block;
margin-bottom: 10px;
}

.single_event_container div {
display: inline-block;
}


.single_event_container {
width: 100%
clear: both;
margin: 0px;
display: block;
}
.event_pic {

}

.event_name {
}

.event_start, .event_times {
margin: 0px;
line-height: 18px;
clear: both;
} 

.event_name {
  text-transform: uppercase;
  font-size: 1.4em;
  line-height: 1.4em;
}
.event_start {

}
.event_times {
padding-bottom: 10px;

}
.event_location {
float: left;
font-style: italic;
margin-bottom: 10px;
}

div.event_desc {
margin-bottom: 10px;
}

.event_pic {
margin-bottom: 10px;
max-width: 100%;
min-width: 117px;
height: auto;
}
